@import 'tailwindcss';

@theme {
  --color-gray-light: #d9d9d9;
  --color-gray-dark: #666666;
  --color-orange: #ff6633;
  --color-green: #00c300;
  --color-blue: #18a0fb;
}

body {
  font-family: var(--font-exo-2), sans-serif;
}
