@import 'tailwindcss';

@theme {
  --color-gray-light: #d9d9d9;
  --color-gray-medium: #999999;
  --color-gray-dark: #666666;
  --color-orange: #ff6633;
  --color-green: #00c300;
  --color-blue: #18a0fb;
  --color-blue-hover: #0d8ae2;
}

@layer base {
  body {
    font-family: var(--font-montserrat), sans-serif;
    letter-spacing: -0.015em;
  }
}

@layer utilities {
  .font-exo {
    font-family: var(--font-exo-2), sans-serif;
  }
}
